[submodule "src/content/docs/themes"]
	path = src/content/docs/themes
	url = https://github.com/HyDE-Project/hyde-gallery.wiki.git
[submodule "src/content/docs/hyde"]
	path = src/content/docs/hyde
	url = https://github.com/HyDE-Project/HyDE.wiki.git
